html {
  font-size: $font-size;
}

body {
  margin: 0;
  font-family: $primary-font;
  font-size: 100%;
  font-weight: normal;
  line-height: normal;
  color: $dark-color;
  background-color: $white-color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.homepage {
  background: $dark-color;
  color: $white-color;
}

.no-scroll {
  position: fixed;
  overflow: hidden;
  width: 100%;
}

.container {
  @include make-container();
}

a {
  color: $link-color;
  text-decoration: none;
  outline: none;

  &:not([class]) {
    border-bottom: 1px solid;
  }

  &:hover {
    color: $link-color--hover;
  }
}

h1,
h2,
h3,
h4 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.2;
  font-weight: normal;
}

h1,
.h1 {
  font-size: rem(32);
}

h2,
.h2 {
  font-size: rem(28);
}

h3,
.h3 {
  font-size: rem(24);
}

h4,
.h4 {
  font-size: rem(21);
}


p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 1em;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
