// JournalSans Cyrillic
@font-face {
  font-family: "journalsanscyrillic";
  src: url("fonts/journalsanscyrillic/journalsans-cyrillic.woff2") format("woff2"),
       url("fonts/journalsanscyrillic/journalsans-cyrillic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


// GraphikLCG
@font-face {
  font-family: "GraphikLCG";
  src: url("fonts/GraphikLCG/GraphikLCG-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
