// Colors
$base-color: #000;
$accent-color: #4cc9ff;
$accent-color: #0588d9;

$success-color: #20ed8f;
$info-color: #b9dfff;
$warning-color: #FFF176;
$danger-color: #fd0d4d;

$gray-color-190: #bebebe;

$light-color: #e4e4e4;
$black-color: #000;
$white-color: #fff;
$dark-color: #212324;
$muted-color: #8a8a8a;
$link-color: $accent-color;
$link-color--hover: mix(#000, $link-color, 10%);

// mark color
$mark-yellow: $warning-color;
$mark-green: $success-color;
$mark-blue: $accent-color;



// Fonts
$font-size: 18px;
$font-size--small: 12px;
$font-size--large: 20px;
$primary-font: "journalsanscyrillic", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$secondary-font: "GraphikLCG", "Arial Black", "Arial Bold", "Gadget", sans-serif;


$border-radius: 2px;
$duration: 0.25s;

// Grid
$grid-columns: 12;
$grid-gutter-width: 30px;

// Media querys
$xs-width: 0;
$sm-width: 568px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;

$grid-breakpoints: (
  xs: 0,
  sm: 568px,
  md: 768px,
  lg: 992px,
  xl: 1280px,
  xxl: 1440px
);

$grid-max-widths: (
  sm: none,
  md: none,
  lg: 960px,
  xl: 1000px,
  xxl: 1180px
);
