@mixin createButton() {
  display: inline-block;
  padding: 16px 45px;
  text-align: center;
  font-family: inherit;
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  line-height: normal;
  outline: none;
  user-select: none;
  background-color: transparent;
  border: 3px solid transparent;
  border-radius: 60px;
  box-sizing: border-box;
  transition: $duration;
  cursor: pointer;
}

@mixin createButtonSmall() {
  padding: rem(8) rem(28);
  font-size: rem($font-size--small);
}

@mixin createButtonLarge() {
  padding: rem(18) rem(40);
  font-size: rem($font-size--large);
}

@mixin createButtonColors() {
  color: $white-color;
  border-color: $white-color;

  &:hover,
  &:focus {
    color: $dark-color;
    background-color: $white-color;
  }
}

@mixin createButtonColorsDark() {
  color: $dark-color;
  border-color: $dark-color;

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $dark-color;
  }
}

@mixin createButtonColorsRed() {
  color: $danger-color;
  border-color: $danger-color;

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $danger-color;
  }
}

@mixin createButtonColorsGreen() {
  color: $base-color;
  border-color: $success-color;

  &:hover,
  &:focus {
    color: $base-color;
    background-color: $success-color;
  }
}

.button {
  @include createButton();
  @include createButtonColors();

  &--dark {
    @include createButtonColorsDark();
  }

  &--red {
    @include createButtonColorsRed();
  }
}

.button__icon {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;

  &:first-child {
    margin-right: 0.5em;
  }

  &:last-child {
    margin-left: 0.5em;
  }
}
