@mixin createButton() {
  display: inline-block;
  padding: 16px 45px;
  text-align: center;
  font-family: inherit;
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  line-height: normal;
  outline: none;
  user-select: none;
  border: 3px solid transparent;
  border-radius: 60px;
  box-sizing: border-box;
  transition: $duration;
  cursor: pointer;
}

.button {
  @include createButton();

  color: $base-color;
  border-color: $base-color;

  &:hover,
  &:focus {
    color: $dark-color;
    background-color: $base-color;
  }

  &:active {
    border-color: $dark-color;
  }
}

.button--dark {
  color: $dark-color;
  border-color: $dark-color;

  &:hover,
  &:focus {
    color: $base-color;
    background-color: $dark-color;
  }

  &:active {
    border-color: $base-color;
  }
}
