.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  background-color: $white-color;
  background-color: #fc3;

  @media (min-width: 480px) {
    margin-right: 15px;
  }

  @media (min-width: 480px) and (max-width: 767px) {
    width: calc((100% - 1 * 15px) / 2);

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media (min-width: 768px) {
    width: calc((100% - 2 * 15px) / 3);

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.card__inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card__image-wrapper {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: 120%;
}

.card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  // height: auto;
  object-fit: cover;
}

.card__body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
}

.card__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
}

.card__description {
  margin-bottom: 20px;
  font-size: 15px;
}

.card__price {
  display: block;
  margin-top: auto;
  text-align: right;
  font-weight: 600;
}

.card__actions {
  display: none;
}

.popup-card .card__actions {
  display: block;
}
