.entry-case {
  background-position: 50% 50%;
  background-size: cover;
  color: $white-color;
  // background-color: #78d;

  &--dark {
    background-color: $light-color;
    color: $dark-color;
  }
}

.entry-case__inner {
  @include make-container();

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;
  text-align: center;
}

.entry-case__title {
  margin: 0;
  max-width: 730px;
  margin-bottom: $grid-gutter-width;
  font-size: 30px;
  line-height: 1.3;
  font-family: $secondary-font;
  color: $white-color;

  @include media-breakpoint-up(sm) {
    font-size: 40px;
    line-height: 1.2;
  }

  @include media-breakpoint-up(md) {
    font-size: 50px;
    margin-bottom: ($grid-gutter-width / 2);
  }
}

.entry-case--light .entry-case__title {
  color: $white-color;
}

.entry-case--dark .entry-case__title {
  color: $dark-color;
}

.entry-case__link {
  @include createButton();
}

.entry-case--light .entry-case__link {
  @include createButtonColors()
}

.entry-case--dark .entry-case__link {
  @include createButtonColorsDark();
}
