.hello {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: ($grid-gutter-width * 5);
  box-sizing: border-box;
  // min-height: 800px;
  //
  @include media-breakpoint-up(md) {
    display: block;
    padding-top: 0;
  }
}
