.hello-overlay {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-image: url("images/bg-without-video.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repaet;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba($dark-color, 0.9);
  }
}

.hello-overlay__video {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include media-breakpoint-up(md) {
    display: block;
  }
}
