.nav-toggler {
  @include createButton();

  display: inline-flex;
  align-items: center;
  padding: 5px;
  font-weight: normal;
  font-size: 1rem;
  text-transform: none;
  color: $accent-color;
  background-color: transparent;
}

.nav-toggler__icon {
  margin-right: 0.25em;
}
