.pager-works {
  padding-top: $grid-gutter-width;
  text-align: center;
}

.pager-works__caption {
  margin-bottom: 1em;

  &::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    margin: auto;
    margin-top: 0.5em;
    background: url("images/arrow-down.svg") no-repeat center / contain;
    animation: arrow-down 0.3s infinite alternate;
  }
}

@keyframes arrow-down {
  100% {
    transform: translateY(8px);
  }
}

.pager-works__list {
  display: flex;

  @include media-breakpoint-up(sm) {
  }
}

.pager-works__item {
  position: relative;
  width: 50%;
  box-sizing: border-box;

  &:only-child {
    width: 100%;
  }

  @include media-breakpoint-up(sm) {
    transition: width ($duration * 2);

    &:hover,
    &:focus {
      // flex-grow: 2;
      width: 60%;
    }

    &:only-child {
      &:hover,
      &:focus {
        // flex-grow: 2;
        width: 100%;
      }
    }
  }
}

.pager-works__inner {

}

.pager-works__image-wrapper {
  @include fitObject();

  padding-top: 50px;
}

.pager-works__item:only-child .pager-works__image-wrapper {
  @include fitObject();

  padding-top: 50px;
}

.pager-works__image {

}

.pager-works__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: ($grid-gutter-width / 2);
  text-align: center;
  opacity: 0;
  transition: opacity ($duration * 3) ease;
}

.pager-works__item:hover .pager-works__overlay,
.pager-works__item:focus .pager-works__overlay {
  opacity: 1;
}

.pager-works__overlay.light {
  color: $dark-color;
}

.pager-works__overlay.dark {
  color: $white-color;
}

.pager-works__title {
  flex-shrink: 0;
  margin: 0;
  width: 100%;
  line-height: 1.5;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @include media-breakpoint-up(sm) {
    font-size: $font-size--large;
  }

  @include media-breakpoint-up(md) {
    font-size: 22px;
  }
}

.pager-works__overlay.light .pager-works__title {
  color: $dark-color;
}

.pager-works__overlay.dark .pager-works__title {
  color: $white-color;
}
