.pager-works {
  display: flex;
}

.pager-works__item {
  position: relative;
  width: 50%;
}

.pager-works__inner {

}

.pager-works__image-wrapper {
  @include fitObject(2 / 1);
}

.pager-works__image {

}

.pager-works__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $grid-gutter-width;
  text-align: center;
  opacity: 0;
  transition: opacity ($duration * 3) ease;
}

.pager-works__item:hover .pager-works__overlay,
.pager-works__item:focus .pager-works__overlay {
  opacity: 1;
}

.pager-works__overlay.light {
  color: $dark-color;
}

.pager-works__overlay.dark {
  color: $white-color;
}

.pager-works__type {
  line-height: 1;
  padding: 3px 15px;
  border-radius: 50px;
  color: $dark-color;
  text-transform: lowercase;
  font-size: 16px;
  background-color: $accent-color;
  color: $white-color;
}

.pager-works__title {
  margin-top: 35px;
  margin-bottom: 35px;
  line-height: 1.5;
  font-size: 22px;
  color: $dark-color;

  span {
    box-decoration-break: clone;
    padding: 4px 10px;
    background-color: #fff;
  }
}

.pager-works__link {
  @include createButton();

  padding: 12px 35px;
  font-size: 16px;
}

.pager-works__overlay.light .pager-works__link {
  @include createButtonColorsDark();
}

.pager-works__overlay.dark .pager-works__link {
  @include createButtonColors();
}
