.pager-works {
  display: flex;
  flex-wrap: wrap;
}

.pager-works__item {
  position: relative;
  width: 100%;

  @include media-breakpoint-up(sm) {
    width: 50%;

    &:only-child {
      width: 100%;
    }
  }
}

.pager-works__inner {

}

.pager-works__image-wrapper {
  @include fitObject(2 / 1);

  @include media-breakpoint-up(xl) {
    padding-top: percentage(1 / 2.5);
  }

  @include media-breakpoint-up(xxl) {
    padding-top: percentage(1 / 3);
  }
}

.pager-works__item:only-child .pager-works__image-wrapper {
  @include fitObject(2 / 1);

  @include media-breakpoint-up(sm) {
    padding-top: percentage(1 / 3);
  }

  @include media-breakpoint-up(xl) {
    padding-top: percentage(1 / 5);
  }

  @include media-breakpoint-up(xxl) {
    padding-top: percentage(1 / 6);
  }
}

.pager-works__image {

}

.pager-works__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $grid-gutter-width;
  text-align: center;
  opacity: 0;
  transition: opacity ($duration * 3) ease;
}

.pager-works__item:hover .pager-works__overlay,
.pager-works__item:focus .pager-works__overlay {
  opacity: 1;
}

.pager-works__overlay.light {
  color: $dark-color;
}

.pager-works__overlay.dark {
  color: $white-color;
}

.pager-works__title {
  margin-top: 35px;
  margin-bottom: 35px;
  line-height: 1.5;
  font-size: 20px;
  color: $dark-color;

  span {
    padding: 2px 8px;
    box-decoration-break: clone;
    background-color: #fff;
  }

  @include media-breakpoint-up(md) {
    font-size: 22px;

    span {
      padding: 4px 10px;
    }
  }
}

.pager-works__link {
  @include createButton();

  display: none;

  @include media-breakpoint-up(lg) {
    display: block;
    padding: 12px 35px;
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  .pager-works__overlay.light .pager-works__link {
    @include createButtonColorsDark();
  }

  .pager-works__overlay.dark .pager-works__link {
    @include createButtonColors();
  }
}

