.popup-card {
  position: absolute;
  display: none;
  flex-direction: column;
  width: 400px;
  font-size: rem($font-size--large);
  background-color: #fff;
  border-radius: $border-radius;
  box-shadow: 0 6px 12px rgba(#000, 0.3);
  visibility: hidden;

  &--visible {
    display: flex;
    visibility: visible;
  }
}
