.site-header {
  position: relative;
  z-index: 5;
}

.site-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  padding-top: 50px;
  padding-bottom: 0;
}
