.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  z-index: 15;
  // mix-blend-mode: difference;
}

.site-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  padding-top: 50px;
  padding-bottom: 0;
}
