.site-cover {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  transform-origin: 0 50%;
  transform: translateX(-100%);
  background-color: #436;
  transition: transform 0.4s ease;
  pointer-events: none;
  box-sizing: border-box;
  will-change: transform;

  &--opened {
    transform: translateX(0);
    pointer-events: auto;
  }
}

.site-cover__inner {
  display: flex;
  height: 100%;
}

.site-cover__column {
  padding: 100px;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  &--left {
    width: 60%;
    background-color: #546E7A;
  }

  &--right {
    width: 40%;
    background-color: #009688;
  }

}
