.works {
}

.works__list {
  display: flex;
  flex-wrap: wrap;
}

.works__item {
  width: 100%;
  // display: block;

  @include media-breakpoint-up(sm) {
    width: 50%;
  }

  @include media-breakpoint-up(lg) {
    width: percentage(1 / 3);

    &--short {
      width: 50%;
    }
  }

  @include media-breakpoint-up(xl) {
    width: 25%;

    &--short {
      width: 50%;
    }
  }


}
